@media (min-width: 769px) {
    section.isotope-section .filter-link-main-grid {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        height: 100% !important;
    }
}

@media(min-width: 769px) and (max-width: 1024px) {
    .header-section .top-header .col-left {
        flex-basis: 82%;
    }

    .header-section .top-header .col-right {
        flex-basis: 17%;
    }

    .bottom-menu-header ul.menu-items li {
        flex-basis: 14%;
        margin-right: 1%;
        text-align: center;
    }

    .bottom-menu-header ul.menu-items a i {
        left: 81px;
        font-size: var(--small-font);
    }

    .bottom-menu-header ul.menu-items li:hover ul.sub-menu {
        top: 33px;
        left: 0 !important;
    }

    .school-sliders ul.slick-dots {
        right: 42.3%;
        top: 83%;
    }

    section.school-testimonial,
    section.blog-events {
        padding: 60px 0px;
    }

    .footer-section .footer-flex .column.one {
        flex-basis: 34.333%;
        margin-right: 3%;
    }

    .footer-section .footer-flex .column.two {
        flex-basis: 21.33%;
        margin-right: 3%;
    }

    .footer-section .footer-flex .column.three {
        flex-basis: 38.33%;
    }

    .popup-left {
        flex-basis: 46%;
        margin-right: 5%;
    }

    section.contact-two-column {
        padding: 60px 0px;
    }

    section.contact-details .contact-child:not(:nth-child(3n+3)) {
        margin-right: 2%;
    }

    section.contact-details .contact-child {
        flex-basis: 31.333%;
    }

    section.contact-details{
        padding: 60px 0px;
    }

    .location-section iframe {
        min-height: 440px;
    }
}

@media(max-width: 768px) {
    .top-menu-header {
        display: none;
    }

    .bottom-menu-header .bottom-header ul.menu-items {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    .bottom-menu-header .menu-toggle:before {
        content: '';
        position: absolute;
        width: 80%;
        height: 2px;
        background: var(--white-color);
        transform: translateY(-12px);
        box-shadow: 0 12px var(--white-color);
    }

    .bottom-menu-header .menu-toggle:after {
        content: '';
        position: absolute;
        width: 80%;
        height: 2px;
        background: var(--white-color);
        transform: translateY(12px);
    }

    .bottom-menu-header .bottom-header a.logo {
        flex-basis: 38%;
        margin-right: 3%;
    }

    .bottom-menu-header.active ul.menu-items {
        display: flex;
        position: absolute;
        top: 56px;
        z-index: 2;
        background: #fff;
        width: 100%;
        right: 0;
        text-align: left;
    }

    .bottom-menu-header .menu-toggle i {
        font-size: 25px;
    }

    .bottom-menu-header.active .menu-toggle::before {
        transform: rotate(45deg);
        box-shadow: none;
    }

    .bottom-menu-header.active .menu-toggle::after {
        transform: rotate(315deg);
    }

    .bottom-menu-header ul.menu-items a i {
        top: 10px !important;
        left: 81px;
    }


    .bottom-menu-header ul.menu-items li:not(:last-child) {
        border-bottom: 2px solid var(--secondary-color);
    }

    .bottom-menu-header ul.menu-items li {
        width: 100%;
        margin-right: 0;
        position: relative;
        padding: 10px;
        text-align: left !important;
    }

    .bottom-menu-header .menu-toggle {
        background: none;
        border: none;
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottom-menu-header {
        padding: 10px 0px;
        position: relative;
        background: var(--secondary-color);
    }

    .banner-section .img-sliders {
        min-height: 440px;
    }

    .school-sliders ul.slick-dots {
        right: 33.3% !important;
        top: 82% !important;
    }

    .marquee .marquee_text ul>li,
    .marquee .marquee_text p {
        font-size: var(--small-font);
    }

    .marquee {
        padding: 12px 0;
    }

    section.school-testimonial {
        padding: 40px 0px;
    }

    section.blog-events {
        padding: 40px 0px;
    }

    .footer-section .footer-flex .column.three {
        flex-basis: 100%;
    }

    .footer-section .footer-flex .column.two {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-section .footer-flex .column.one {
        flex-basis: 100%;
        margin-right: 0;
    }

    .footer-section .footer-flex .column.one .content {
        max-width: 350px;
        margin-bottom: 30px;
    }

    .footer-section .footer-flex .column.one .social-media {
        margin-bottom: 20px;
    }

    .footer-section .footer-flex .column.one .content {
        margin-bottom: 30px;
    }

    .footer-section .social-media ul li i {
        font-size: 25px;
        color: var(--white-color);
    }


    .footer-section .footer-flex .column.two ul li.footer-menu {
        padding: 7px 0px;
    }

    .footer-section .footer-flex .column.two ul {
        margin-top: 9px;
    }

    div#copyright {
        font-size: var(--small-font);
    }

    .bottom-menu-header  ul.menu-items li:hover ul.sub-menu {
        top: 41px;
        width: 100%;
        left: 0 !important;
    }

    section.project-counters {
        padding: 40px 0px;
    }

    section.project-counters .counter-child:not(:last-child) {
        margin-bottom: 20px;
    }

    section.project-counters .counter-child:not(:nth-child(3n+3)) {
        margin-right: 0;
    }

    section.project-counters .counter-child {
        flex-basis: 100%;
    }

    section.project-counters .icon-box {
        flex-basis: 11%;
        margin-right: 2%;
    }

    section.project-counters .counter-box h2.counter {
        font-size: 45px;
    }

    section.project-counters .counter-child h2 span {
        font-size: 45px;
    }

    section.project-counters .icon-box i{
        font-size: 55px;
    }

    section.video-popup {
        padding: 40px 0px;
    }

    .popup-left {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .popup-right {
        flex-basis: 100%;
    }

    .animate-box {
        position: relative;
    }

    .btn-text-box {
        left: 178px;
        top: -10px;
    }

    .popup-left .img-bg {
        max-width: 50%;
        margin: 0 auto;
    }

    .popup-left .img-bg:before {
        width: 100%;
        height: 100%;
        right: 26px;
        top: -22px;
    }

    .popup-right a:after {
        width: 120px;
        height: 120px;
    }

    .popup-right a:before {
        width: 120px;
        height: 120px;
    }

    .popup-right a {
        background: #ce1446;
        width: 60px;
        height: 60px;
        left: 55px;
        top: -47px;
    }

    .popup-right a i {
        position: absolute;
        top: 52%;
        left: 52%;
        transform: translate(-50%, -50%);
    }

    .about-two-column .about-flex .right-col {
        flex-basis: 100%;
        max-width: 350px;
    }

    .about-two-column .about-flex .left-col {
        flex-basis: 100%;
        margin-right: 0;
        margin-top: 60px;
    }

    .about-two-column .about-flex .right-col:before {
        width: 100px;
        height: 100px;
        bottom: -64px;
        left: 43px;
        border-bottom: 12px solid var(--secondary-color);
        border-left: 12px solid var(--secondary-color);
    }

    .about-two-column .about-flex .right-col:after {
        width: 100px;
        height: 100px;
        top: 44px;
        left: 87.5%;
        border-top: 12px solid var(--secondary-color);
        border-right: 12px solid var(--secondary-color);
    }

    .about-two-column .about-flex {
        flex-direction: column-reverse;
    }

    section.about-two-column {
        padding: 40px 0px;
    }

    .main-counter-item {
        width: 138px;
        height: 138px;
        margin-right: 53px;
    }

    .main-counter-item .counter-box h2.counter {
        font-size: 68px;
    }

    section.contact-two-column {
        padding: 40px 0px;
    }

    section.contact-details{
        padding: 40px 0px;
    }

    section.contact-details .contact-child {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    section.contact-details .contact-child:not(:nth-child(3n+3)) {
        margin-right: 0;
    }

    .location-section iframe {
        min-height: 360px;
    }

    .contact-two-column .left-cols {
        flex-basis: 100%;
        margin-right: 0;
    }

    .contact-two-column .right-cols {
        flex-basis: 100%;
        margin-top: 20px;
    }

    .contact-two-column .right-cols img {
        min-height: 250px;
    }

    .contact-two-column .content-boxes {
        max-width: 100%;
    }

    .isotope-section .mob-tabs {
        cursor: pointer;
        display: block !important;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 30px;
        margin-top: 15px;
        padding: 10px;
        position: relative;
        text-align: center;
        border-radius: 20px;
        background: var(--secondary-color);
    }

    .isotope-section .mob-tabs h5 {
        text-transform: uppercase;
        color: var(--light-green);
    }

    .isotope-section .mob-tabs i {
        bottom: 0;
        color: var(--light-green);
        font-size: 16px;
        height: 20px;
        position: absolute;
        right: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 20px;
    }

    .filter-link-main-grid.filter-button-group.dropdown-menu {
        background-color: var(--tertiary-color);
        border-radius: 5px;
        display: none;
        max-width: 100%;
        padding: 20px 0;
        position: absolute;
        top: 175px;
        width: 100%;
        z-index: 5;
    }

    .filter-links.center-align.active {
        background: linear-gradient(260deg, #a04459 0%, #e72a54 100%);
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .grid-image-main .grid-images {
        width: 100%;
    }

    .filter-links {
        width: 100%;
    }

    .filter-links p {
        color: var(--dark-color);
        font-weight: 600;
    }

}

@media (max-width: 480px) {
    section.project-counters .icon-box {
        margin-right: 6%;
    }
}
