
@media(min-width: 769px){
    section.isotope-section .filter-link-main-grid {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        height: 100% !important;
    }
}
@media screen and (max-width: 1020px){
    .elStoryColumn {
    width: 40vw;
}

ul.timeline-flex li:nth-child(even) .content {
    left: calc(-41vw - 45px);
}
}
@media(min-width: 1025px) and (max-width: 1140px){
    .contact-form .contact-forms .text-area{
        min-width: 500px;
    }
}
@media(min-width: 769px) and (max-width: 1024px){
 .content-wrapper{
    max-width: 960px;
 }

 .banner-mod .flex-box .right-col {
    flex-basis: 42%;
 }

 .banner-mod .flex-box .left-col {
    flex-basis: 55%;
    margin-right: 3%;
 }

 .footer-flex .column.two {
    flex-basis: 38.33%;
    margin-right: 2%;
 }

 .footer-flex .column.one {
    flex-basis: 28.333%;
    margin-right: 2%;
 }
 
 .footer-flex .column.three {
    flex-basis: 27.33%;
 }

 .contact-forms .text-area {
    max-width: 735px;
    min-width: 735px;
 }

 .blog-slick {
    width: 92%;
 }

 .blog-flex .blog-left {
    width: 33%;
    padding: 20px;
 }

 .blog-flex .blog-right {
    width: 65%;
 }

 .blog-flex .blog-right .blog-childs {
    margin: 0px 3px;
 }

 section.banner-mod {
    padding: 60px 0px;
 }

 section.about-section {
    padding: 60px 0px;
 }

 section.service-section {
    padding: 60px 0px 10px;
 }

 section.counter-section {
    padding: 60px 0px;
 }

 section.testimonial-section {
    padding: 60px 0px;
 }

 section.blog-section {
    padding: 60px 0px;
 }

 .main-footer {
    padding: 60px 0px;
 }

 .service-flex .service-boxes{
    padding: 37px 11px 11px 11px;
 }

 section.two-column-contact .flexes .col-left {
    flex-basis: 39%;
    background: #2e3849;
    padding: 20px;
 }

 section.two-column-contact .flexes .col-right {
    flex-basis: 58%;
    margin-left: 3%;
 }

 section.two-column-contact{
    padding: 60px 0px;
 }

 section.contact-form {
    padding: 60px 0px;
 }

 .contact-flexes .left-image-box {
    flex-basis: 33%;
    margin-right: 2%;
}

.contact-flexes .contact-forms {
    flex-basis: 65%;
    max-width: 100%;
}

.contact-form .contact-forms .text-area {
    max-width: 460px;
    min-width: 94%;
}

section.about-two-column{
    padding: 60px 0px;
}

.popup-left .img-bg:before{
    height: 100%;
}

.grid-image-main .grid-images {
    width: 50%;
}

.filter-links{
    padding: 8px 10px;
 }

 .portfolio-inner{
    left: 20px;
 }

 section.product-websites {
    padding: 60px 0px 40px;
}

ul.timeline-flex li:nth-child(even) .elStoryColumn {
  left: calc(-41vw - 47px);
}

ul.timeline-flex li:nth-child(odd) .elStoryColumn{
    left: 53px;
}

.main-flexes .flex-columns {
    padding: 0px 10px;
}

.main-flexes .flex-columns .image-box img.hover-img{
    width: 50px;
    height: 50px;
 }

 .main-flexes .flex-columns .image-box img {
    width: 50px;
    height: 50px;
 }
 .personality-box {
    padding: 20px;
 }

 .family-check .detail-box{
    left: 15px;
 }

 .family-check .personal-boxes {
    padding: 24px 15px;
 }

 .family-check .flex-box .child-boxes img {
    max-height: 287px;
    min-height: 287px;
 }

 .family-check .flex-box .child-boxes {
    padding: 0px 10px;
 }

 section.blog-updates .blog-list-flex .blog-childs {
    flex-basis: 50%;
    padding: 0px 12px;
 }
}

@media (max-width: 768px){
    .content-wrapper{
        max-width: 720px;
     }

    .main-section .col-right{
        display: none;
     }

     .main-section .mobile-menu {
        padding: 20px;
        font-size: 1.15em;
        width: 100%;
        right: 0px;
        z-index: 9999;
        transition: all 0.3s ease;
        position: fixed;
        overflow-y: auto;
        display: block;
        top: 0;
    }
header.header-section {
    padding: 16px 0px;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
}

    body.menu-opened .header-section.fixed {
        background: none;
        bottom: 0;
        animation: none;
    }
    
    body.menu-opened header.header-section {bottom: 0;}

    .main-section .bar {
        padding: 16px 13px 16px;
        background: transparent;
        max-width: 50px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 2px;
        padding-right: 0;
        margin-right: -4px;
        position: absolute;
        top: 0;
        right: 13px;
    }
    
    .bar span {
        height: 5px;
        width: 5px;
        display: block;
        background: #ce1446;
        border-radius: 50%;
        transition: none;
        list-style: none;
        transition: all 0.3s ease;
        margin: 2px 3px;
    }
    
    .main-section .close-btn {
        display: none;
    }
    
    .main-section ul.nav-menu-items {
        display: none;
    }

    body.menu-opened {
        position: relative;
        z-index: 999;
        margin-left: 0em;
        transition: right 0.4s ease-in-out 0s;
        -webkit-transition: right 0.4s ease-in-out 0s;
        -moz-transition: right 0.4s ease-in-out 0s;
        -o-transition: right 0.4s ease-in-out 0s;
    }
    
    body.menu-opened .mobile-menu {
        background: var(--dark-color);
        right: 0;
        box-shadow: 0 0 70px #eee;
        bottom: 0;
        max-width: 435px;
        transition: all 0.3s ease;
    }

    body.menu-opened .mobile-menu .bar {
        width: 100%;
        position: absolute;
        right: 8px;
        display: none;
        top: 0px;
    }

    body.menu-opened:after {
        left: 0%;
        transition: all 0.8s ease-out 0s;
        z-index: 9;
    }

body:after {
    width: 100%;
    left: 100%;
    transition: all 0.8s ease-out 0s;
    position: fixed;
    background: #fff;
    height: 100vh;
    top: 0;
    bottom: 0;
    opacity: .6;
    z-index: 222;
    content: "";
}

    body.menu-opened .close-btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding: 0px;
    }
    
    body.menu-opened .close-btn i {
        font-size: 25px;
        color: var(--primary-color);
        cursor: pointer;
    }

    body.menu-opened ul.nav-menu-items {
        display: block;
        padding-top: 0;
    }
    
    body.menu-opened ul.nav-menu-items li.menus-child {
        padding: 15px 0px;
    }

    .flex-cta{
        margin: 0 auto;
    }

    .banner-mod .intro-part {
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    .banner-mod .flex-box .left-col {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 28px;
    text-align: center;
    }

    .banner-mod .flex-box .right-col {
        flex-basis: 100%;
        max-width: 253px;
    }

    .banner-mod .image-box{
        height: 269px;
    }

    section.banner-mod{
        padding: 80px 0px 40px;
    }

    .banner-mod .intro-part span{
        font-size: var(--large-font);
    }

    .about-section .about-flex .col-left {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 55px;
    }

    .about-section .about-flex .col-right {
        flex-basis: 100%;
    }

    section.about-section {
        padding: 40px 0px 0px;
    }

    section.service-section {
        padding: 40px 0px 0px;
    }

    section.counter-section {
        padding: 40px 0px 0;
    }

    section.testimonial-section {
        padding: 40px 0px;
    }

    section.blog-section {
        padding: 40px 0px;
    }

    .blog-main-container {
        margin-top: 34px;
    }

    .blog-flex .blog-right {
        width: 100%;
    }

    .blog-flex .blog-left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contact-forms .text-area {
        max-width: 100%;
        margin: 0 auto;
        min-width: 100%;
        position: relative;
    }

    .name-box, 
        .mobile-number{
        flex-basis: 100%;
        padding: 0;
        position: relative;
        margin-bottom: 20px;
    }

    .email-box,
    .website-box {
        flex-basis: 100%;
        padding: 0;
    }

    section.contact-form {
        padding: 40px 0px;
    }

    .main-footer {
        background: var(--dark-color);
        padding: 40px 0px;
    }

    .footer-flex .column.one {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-flex .column.two {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-flex .column.three {
        flex-basis: 100%;
    }

    .copy-right-footer .main-flexes .col-left {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .copy-right-footer .main-flexes .col-right {
        flex-basis: 100%;
        margin-left: 0;
    }

    .contact-flexes .left-image-box {
        flex-basis: 100%;
        margin-right: 0;
        max-width: 250px;
        margin-top: 30px;
     }

     .contact-form .contact-flexes .contact-forms {
        flex-basis: 100%;
        max-width: 100%;
        padding: 36px 15px;
    }

    section.two-column-contact{
        padding: 40px 0px;
    }

    section.two-column-contact .flexes .col-left {
        flex-basis: 100%;
        padding: 21px;
        margin-bottom: 20px;
    }

    section.two-column-contact .flexes .col-right {
        flex-basis: 100%;
        margin-left: 0;
    }

    .about-two-column .about-flex .left-col {
        flex-basis: 100%;
        margin-right: 0;
        margin-top: 60px;
    }

    .about-two-column .about-flex {
        flex-direction: column-reverse;
    }

    .about-two-column .about-flex .right-col {
        flex-basis: 100%;
        max-width: 350px;
    }

    .about-two-column .about-flex .right-col:before {
        width: 100px;
        height: 100px;
        bottom: -64px;
        left: 43px;
        border-bottom: 12px solid var(--primary-color);
        border-left: 12px solid var(--primary-color);
    }

    .about-two-column .about-flex .right-col:after {
        width: 100px;
        height: 100px;
        top: 44px;
        left: 87.5%;
        border-top: 12px solid var(--primary-color);
        border-right: 12px solid var(--primary-color);
    }

    
    section.about-two-column {
        padding: 40px 0px;
    }

    section.project-counters {
        padding: 40px 0px;
    }

    section.project-counters .counter-flex .counter-child:not(:nth-child(3n+3)) {
        margin-right: 0;
    }

    section.project-counters .counter-flex .counter-child {
        flex-basis: 100%;
    }

    section.project-counters .counter-flex .counter-child:not(:last-child){
        margin-bottom: 20px;
    }

    section.project-counters .counter-flex .counter-child .counter-up {
        flex-basis: 87%;
    }

    section.project-counters .counter-flex .counter-child .icon-box {
        flex-basis: 11%;
        margin-right: 2%;
    }

    section.project-counters .counter-flex .counter-child .icon-box i {
        font-size: 55px;
    }

    section.video-popup {
        padding: 40px 0px;
    }

    .popup-left {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .popup-right {
        flex-basis: 100%;
    }

    .popup-left .img-bg {
        max-width: 50%;
        margin: 0 auto;
    }

    .popup-left .img-bg:before {
        width: 100%;
        height: 100%;
        right: 26px;
        top: -22px;
    }

    .popup-right a {
        background: #ce1446;
        width: 60px;
        height: 60px;
        left: 55px;
        top: -47px;
    }

    .animate-box {
        position: relative;
    }
    
    .popup-right a i {
        position: absolute;
        top: 52%;
        left: 52%;
        transform: translate(-50%, -50%);
    }

    .popup-right a:after {
        width: 120px;
        height: 120px;
    }

    .popup-right a:before {
        width: 120px;
        height: 120px;
    }

    .btn-text-box {
        left: 178px;
        top: -10px;
    }

    section.project-counters .counter-flex .counter-child .counter-up h5 {
        font-size: 18px;
    }
    
    section.project-counters .counter-flex .counter-child .counter-box h2.counter {
        font-size: 45px;
    }

    section.project-counters .counter-flex .counter-child h2 span {
        font-size: 45px;
    }

    section.client-logo.section {
        padding: 40px 0px 18px;
    }

    section.services-mod {
        padding: 40px 0px 30px;
    }

    .pricing-plan .packages {
        margin: 0;
        padding: 10px;
        margin-bottom: 20px !important;
    }

    section.pricing-plan {
        padding: 40px 0px 40px;
    }

    .pricing-plan .top {
        margin-bottom: 30px;
    }

    .isotope-section .mob-tabs {
        cursor: pointer;
        display: block !important;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 30px;
        margin-top: 15px;
        padding: 10px;
        position: relative;
        text-align: center;
        border-radius: 20px;
    background: var(--primary-color);
    }

    .isotope-section .mob-tabs i {
        bottom: 0;
        color: var(--light-green);
        font-size: 16px;
        height: 20px;
        position: absolute;
        right: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 20px;
    }

    .filter-link-main-grid.filter-button-group.dropdown-menu {
        background-color: #2e3849;
        border-radius: 5px;
        display: none;
        max-width: 100%;
        padding: 20px 0;
        position: absolute;
        top: 175px;
        width: 100%;
        z-index: 5;
    }

    .filter-links{
        width: 100%;
    }

    .filter-links.active p{
        position: relative;
        left: unset;
        right: unset;
        top: unset;
        bottom: unset;
    }

    .grid-image-main .grid-images {
        width: 100%;
    }

    .isotope-section .mob-tabs h5 {
        text-transform: uppercase;
    }

    section.contact-simple-section{
        padding: 40px 0px;
    }

    section.contact-simple-section .contacts-flex-boxes .left-columns .left-content {
        max-width: 100%;
    }

    section.contact-simple-section .contacts-flex-boxes .right-columns {
        flex-basis: 100%;
        max-width: 225px;
        margin-left: 0;
        margin-top: 30px;
    }

    section.contact-simple-section .contacts-flex-boxes .left-columns {
        flex-basis: 100%;
        text-align: center;
    }

    section.products-section .title-heading {
        max-width: 100%;
    }

    .business-flex .business-left {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .business-flex .business-right {
        flex-basis: 100%;
    }

    section.products-section {
        padding: 40px 0px;
    }

    section.product-websites {
        padding: 40px 0px 50px;
    }

    section.isotope-section {
        padding: 40px 0px 20px;
    }

    .elStoryColumn {
        width: 80vw;
        left: 54px !important;
    }

    ul.timeline-flex li{
        margin: 0 auto 0 0;
    }

    ul.timeline-flex li:nth-child(even) .elStoryColumn:before{
        right: 0;
    }

    .elStoryColumn:before{
        left: -38px !important;
    }

    .main-flexes .flex-columns {
        flex-basis: 100%;
        padding: 0;
        margin-bottom: 25px;
    }
    
    .personality-box {
        padding: 20px;
    }

    section.personal-section {
        padding: 40px 0px 40px;
    }

    .family-check .flex-box .child-boxes {
        flex-basis: 100%;
        padding: 0px;
        margin-bottom: 20px;
    }

    .family-check .detail-box {
        bottom: 20px;
        left: 25px;
    }

    section.family-check {
        padding: 40px 0px;
    }

    .family-check .flex-box{
        margin-top: 30px;
    }

    ul.timeline-flex {
        margin-top: 30px;
    }

    section.blog-updates .blog-list-flex .blog-childs {
        flex-basis: 100%;
        padding: 0;
    }
}

@media(min-width: 481px) and (max-width: 768px){
    .service-flex .service-boxes:not(:nth-child(2n+2)) {
        margin-right: 18px !important;
    }

    .service-flex .service-boxes {
        flex-basis: 48%;
    }

    .service-flex .service-boxes:not(:nth-child(4n+4)){
        margin-right: 0;
    }

    .client-logo.section .logo-flex .child {
        flex-basis: 46%;
    }

    .client-logo.section .logo-flex .child:not(:nth-child(2n+2)) {
        margin-right: 8% !important;
    }

    .client-logo.section .logo-flex .child:not(:nth-child(4n+4)) {
        margin-right: 0;
    }

    .service-flex-box .service-child:not(:nth-child(3n+3)) {
        margin-right: 0;
    }

    .service-flex-box .service-child {
        flex-basis: 46.333%;
        margin-bottom: 40px;
    }

    .service-flex-box .services-item{
        padding: 20px;
    }

    .services-text h3.title {
        font-size: var(--ultra-small-font);
    }
    
    .services-desc p {
        color: var(--small-font);
    }

    .service-flex-box .service-child {
        flex-basis: 46.9%;
        margin-bottom: 30px;
    }

    .service-flex-box .service-child:not(:nth-child(2n+2)) {
        margin-right: 6%;
    }

    .testimonial-section .slick-next {
        right: 3px;
    }

    .testimonial-section .slick-prev {
        left: 40px;
    }

    .testimonial-section .slick-arrow{
        width: 40px;
        height: 40px;
    }

    .pricing-plan .packages:not(:nth-child(2n+2)) {
        margin-right: 4%;
    }

    .pricing-plan .packages {
        width: 48%;
    }

    .portfolio-inner span a {
        font-size: var(--ultra-small-font);
    }

    section.product-websites .image-flexes .images-child-flex {
        flex-basis: 50%;
    }

    .portfolio-inner{
        left: 25px;
    }

}

@media(max-width: 480px){
    .content-wrapper{
        max-width: 540px;
     }

     .service-flex .service-boxes:not(:nth-child(4n+4)) {
        margin-right: 0;
    }
    .service-flex .service-boxes {
        flex-basis: 100%;
    }

    .blog-slick {
        width: 100%;
        margin: 0;
    }

    .blog-flex .blog-right .blog-childs {
        width: 100%;
        margin: 0px 0px;
    }

    .main-counter-item {
        width: 138px;
        height: 162px;
        margin-right: 53px;
    }

    .main-counter-item .counter-box h2.counter{
        font-size: 80px;
    }

    section.project-counters .counter-flex .counter-child .icon-box{
        margin-right: 6%;
    }

    .client-logo.section .logo-flex .child {
        flex-basis: 100%;
    }

    .client-logo.section .logo-flex .child:not(:nth-child(4n+4)) {
        margin-right: 0;
    }

    .service-flex-box .services-item {
        padding: 20px;
    }

    .service-flex-box .service-child:not(:nth-child(3n+3)) {
        margin-right: 0;
    }

    .service-flex-box .service-child {
        flex-basis: 100%;
        margin-bottom: 25px;
    }

    .testimonial-section .slick-next {
        right: 40px;
    }

    .testimonial-section .slick-prev {
        left: 40px;
    }

    .testimonial-section .slick-arrow{
        width: 30px;
        height: 30px;
    }

    .testimonial-section .client-image img{
        height: 95px;
        width: 95px !important;
    }

    .testimonial-section .client-image{
        margin-bottom: 0px;
    }

    .pricing-plan .packages {
        width: 100%;
    }

    section.product-websites .image-flexes .images-child-flex {
        flex-basis: 100%;
    }

    .about-section .main-bar .main-bar-box {
        flex-basis: 37%;
    }
    .about-section .main-bar .counters {
        flex-basis: 60%;
    }
}
