html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    color: var(--white-color);
    font-family: var(--primary-font);
    background: var(--white-color);
}

/*----- header starts from here -----*/

.top-menu-header {
    background: var(--primary-color);
    padding: 15px 0px;
}

.header-section .top-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-section .top-header .col-left {
    flex-basis: 70%;
    padding-right: 5%;
}

.header-section .top-header .col-right {
    flex-basis: 30%;
}

.header-section .top-header .col-left ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-section .top-header .col-right ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-section .top-header .col-left ul span {
    color: var(--white-color);
}

.header-section .top-header .col-left ul li {
    margin-right: 4%;
}

.header-section .top-header .col-left ul li i {
    color: var(--secondary-color);
    margin-right: 3px;
}

.header-section .top-header .col-right ul li {
    margin-right: 20px;
}

.header-section .top-header .col-right ul li i {
    font-size: 22px;
    color: var(--secondary-color);
}

.bottom-menu-header .bottom-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.bottom-menu-header .bottom-header a.logo {
    flex-basis: 16%;
    margin-right: 3%;
}

.bottom-menu-header .bottom-header ul.menu-items {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.bottom-menu-header .bottom-header ul.menu-items a {
    color: var(--primary-color);
    font-weight: 600;
}

.bottom-menu-header .bottom-header ul.menu-items li {
    flex-basis: 10%;
    margin-right: 2%;
    position: relative;
    text-align: right;
}

.bottom-menu-header .bottom-header ul.menu-items li:last-child {
    margin-right: 0;
}

.bottom-menu-header .bottom-header ul.menu-items li:hover ul.sub-menu {
    left: 37px;
    opacity: 1;
    visibility: visible;
}

.bottom-menu-header .bottom-header ul.menu-items a.active {
    color: var(--secondary-color);
}

.bottom-menu-header ul.sub-menu {
    position: absolute;
    top: 42px;
    left: -100%;
    z-index: 999;
    background: var(--secondary-color);
    width: 200px;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    opacity: 0;
    visibility: hidden;
}

.bottom-menu-header ul.sub-menu li {
    padding: 10px;
    text-align: left !important;
}

.bottom-menu-header ul.menu-items a i {
    position: absolute;
    top: 4px;
    left: 108px;
}

.bottom-menu-header  ul.menu-items li:hover i {
    transform: rotate(-180deg);
    top: 0;
    color: var(--secondary-color);
}

.bottom-menu-header  ul.menu-items li:hover a {
    color: var(--secondary-color);
}

.bottom-menu-header ul.sub-menu a {
    color: var(--primary-color) !important;
}


.bottom-menu-header ul.sub-menu li:not(:last-child) {
    border-bottom: 1px solid var(--white-color) !important;
}

.bottom-menu-header {
    padding: 5px 0px;
}

.bottom-menu-header .menu-toggle{
    display: none;
}

/*----- header ends here -----*/

/*----- banner section starts from here ----*/

.banner-section .img-sliders {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
    z-index: 1;
    min-height: 600px;
    text-align: center;
}


.banner-section .content-box {
    max-width: 650px;
    margin-bottom: 40px;
}


.school-sliders ul.slick-dots {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    position: absolute;
    right: 46.3%;
    top: 87%;
}

/*----- banner section ends here -----*/

/*--- marquee starts from here ----*/

.marquee {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    padding: 15px 0;
  }
  
  .marquee .marquee_text {
    display: inline-block;
    animation: marquee 30s linear infinite;
  }
  .marquee .marquee_text ul,
  .marquee .marquee_text p {
    display: inline-flex;
    font-size: 16px;
    text-transform: uppercase;
    list-style-position: inside;
  }

  .marquee .marquee_text ul.marquee-content-primary,
  .marquee .marquee_text p {
    padding-left: 30px;
  }

  .marquee .marquee_text ul > li ,  
  .marquee .marquee_text p {
    padding-inline: 7px;
    font-weight: 600;
    color:  var(--quaternary-color);
  }

  .marquee-content-secondary {
    position:absolute;
    left:0;
    top:0;
    padding-left:var(--marquee-padding);
  }
   
  @keyframes marquee {
       0% {
          -webkit-transform: translate3d(0,0,0);
          transform: translateZ(0)
      }
  
      to {
          -webkit-transform: translate3d(var(--marquee-padding-negative),0,0);
          transform: translate3d(var(--marquee-padding-negative),0,0)
      }
  }

/*--- marquee ends here ----*/

/*---- testimonial starts from here -----*/

section.school-testimonial {
    background: var(--primary-color);
    padding: 80px 0px;
}

section.school-testimonial h5 {
    color: var(--white-color);
}

.testimonial-single {
    background-color: var(--white-color);
    border-radius: 15px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    margin: 20px 10px;
    padding: 30px;
}

.testimonial-content {
    align-items: center;
    display: flex;
    justify-content: start;
    margin-top: 30px;
}

.testimonial-quote p {
    color: var(--primary-color);
}

.testimonial-author-img {
    margin-right: 20px;
    min-height: 60px;
    border-radius: 50%;
    width: 60px;
    border: 2px solid var(--secondary-color);
}

.testimonial-author-info h4 {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 600;
}

.testimonial-author-info p {
    color: var(--quaternary-color);
}

/*----- testimoniol ends here ----*/

/*---- blog events starts from here ----*/

section.blog-events {
    padding: 80px 0px;
    background: var(--section-bg-color);
}

.blog-events .title-heading h5 {
    color: var(--white-color);
}

.flex-boxes .blog-slick {
    width: 100%;
    padding: 0px 10px;
}

.flex-boxes .blog-childs {
    background: var(--white-color);
    border-radius: 10px;
}


.blog-events .flex-boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.flex-boxes .blog-contents p {
    color: var(--primary-color);
}

.flex-boxes .top-content {
    position: relative;
    overflow: hidden;
    max-height: 233px;
    min-height: 233px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.flex-boxes .bottom-content {
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    min-height: 230px;
}

.flex-boxes .blog-contents {
    margin-bottom: 20px;
}


.flex-boxes .blog-contents h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    color: var(--section-bg-color);
    margin-bottom: 10px;
}

.blog-main-container {
    margin-top: 30px;
}

ul.blog-meta {
    position: absolute;
    list-style: none;
    width: 100%;
    top: 92%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background: var(--secondary-color);
}

/*----- blog events ends here -----*/

/*----- About Us starts from here -----*/
section.common-banner {
    position: relative;
    min-height: 350px;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.common-banner .container {
    max-width: 500px;
}

section.common-banner .container ul {
    display: flex;
    align-items: center;
    justify-content: center;
}


section.common-banner ul li.breadcrumbs:not(:last-child) {
    margin-right: 20px;
    position: relative;
}

section.common-banner ul li.breadcrumbs:not(:last-child) a {
    color: var(--light-green);
}

section.common-banner ul li.breadcrumbs:not(:last-child):after {
    position: absolute;
    content: "";
    width: 1px;
    height: 25px;
    background: var(--light-green);
    left: 48px;
    top: -2px;
}

section.common-banner.about-mod .overlay {
    background: rgb(19 28 46 / 80%);
}

/*----- About Us ends here -----*/

/*----- counter starts from here ------*/

section.project-counters {
    padding: 80px 0px;
    background: var(--section-bg-color);
}

section.project-counters .counter-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section.project-counters .counter-flex .counter-child:not(:nth-child(3n+3)) {
    margin-right: 6%;
}

section.project-counters  .counter-child {
    flex-basis: 29.333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.project-counters .icon-box {
    flex-basis: 20%;
    margin-right: 2%;
}

section.project-counters .icon-box i {
    font-size: 60px;
    color: var(--secondary-color);
}

section.project-counters .counter-up {
    flex-basis: 78%;
}

section.project-counters  .counter-box h2.counter {
    font-size: 64px;
    color: var(--white-color);
}

section.project-counters  .counter-child h2 span {
    font-size: 64px;
    color: var(--white-color);
    font-weight: 700;
}

section.project-counters .counter-up h5 {
    font-size: 26px;
    color: var(--light-green);
}

/*----- counter ends here -----*/

/*------ videos section starts from here ----*/

section.video-popup {
    padding: 80px 0px;
    background: var(--primary-color);
}

.popup-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.popup-left {
    flex-basis: 45%;
    margin-right: 9%;
}

.popup-right {
    flex-basis: 46%;
    position: relative;
}

.popup-left .img-bg {
    max-width: 450px;
    margin: 0 0 0 auto;
    position: relative;
    z-index: 1;
}

.popup-left .img-bg:before {
    position: absolute;
    content: "";
    background: var(--secondary-color);
    width: 447px;
    height: 739px;
    right: 36px;
    top: -32px;
    z-index: -1;
}

.popup-right .contents h5 {
    color: var(--light-green);
}

.popup-right .contents p {
    margin-top: 35px;
    margin-bottom: 71px;
}

.popup-box {
    display: flex;
    position: relative;
}

.popup-right a {
    background: #ce1446;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%);
    left: 17%;
    top: 99%;
}

.popup-right a:before {
    content: "";
    border: 2px solid #ce1446;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation: zoomBig 3.25s linear infinite;
    -webkit-animation-delay: .75s;
    animation-delay: .75s;
}

.popup-right a:after {
    content: "";
    border: 2px solid #ce1446;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation: zoomBig 3.25s linear infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

@keyframes zoomBig {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
    border-width: 3px;
  }
  40% {
    opacity: .5;
    border-width: 2px;
  }
  65% {
    border-width: 1px;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    border-width: 1px;
  }
}

.btn-text-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 37px;
}

.btn-text-box h5{
    color: var(--secondary-color);
}

/*----- videos section ends here -----*/

/*---- two column starts from here -----*/
section.about-two-column {
    padding: 80px 0px;
    background: var(--section-bg-color);
}

.about-two-column .about-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about-two-column .about-flex .left-col {
    flex-basis: 52%;
    margin-right: 3%;
}

.about-two-column .about-flex .right-col {
    flex-basis: 45%;
    max-width: 350px;
    margin: 0 auto;
    position: relative;
}

.about-two-column .common-haeding {
    max-width: 470px;
    margin-bottom: 35px;
}

.about-two-column .content-box {
    max-width: 408px;
    margin-bottom: 30px;
}

.about-two-column .content-box h5 {
    line-height: 25px;
    color: var(--light-green);
}

.about-two-column .common-haeding h5{
    color: var(--light-green);
}
.experiemce-counter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
}

.main-counter-item {
    width: 190px;
    height: 190px;
    text-align: center;
    line-height: 160px;
    border: 10px solid var(--secondary-color);
    font-size: 100px;
    position: relative;
    margin-right: 60px;
    border-radius: 190px;
}

.main-counter-item .counter-box {
    line-height: 1;
    background: var(--section-bg-color);
    position: absolute;
    right: -37px;
    top: 25px;
}

.main-counter-item .counter-box h2.counter {
    font-size: 100px;
    font-weight: 900;
    color: var(--white-color);
}

.main-counter-item .counter-box h2.counter span.counter-value {
    font-size: inherit;
    font-weight: 800;
    width: 29px;
    display: inline-block;
    color: var(--white-color);
}

.experiemce-text h5 {
    color: var(--light-green);
}

.about-two-column .about-flex .right-col:after {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    top: 63px;
    left: 76.5%;
    border-radius: 0;
    transform: translate(-50%, -50%);
    border-top: 25px solid var(--secondary-color);
    border-right: 25px solid var(--secondary-color);
}

.about-two-column .about-flex .right-col img {
    position: relative;
}

.about-two-column .about-flex .right-col:before {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: -108px;
    left: 62px;
    border-radius: 0;
    transform: translate(-50%, -50%);
    border-bottom: 25px solid var(--secondary-color);
    border-left: 25px solid var(--secondary-color);
}

/*---- two column ends here -----*/

/*----- contact details starts from here -----*/

section.contact-details {
    background: var(--primary-color);
    padding: 80px 0px;
}

section.contact-details .contact-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section.contact-details .contact-child {
    flex-basis: 29.333%;
    background: var(--white-color);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    -webkit-box-shadow: -2px 1px 14px 0px var(--white-color);
    -moz-box-shadow: -2px 1px 14px 0px var(--white-color);
    box-shadow: -2px 1px 14px 0px var(--white-color);
}

section.contact-details .contact-child:not(:nth-child(3n+3)) {
    margin-right: 6%;
}

section.contact-details .contact-child i {
    font-size: 40px;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

section.contact-details .contact-child p {
    color: var(--dark-color);
}

section.contact-details .contact-child a {
    color: var(--secondary-color);
    font-weight: 600;
}

.location-section iframe {
    width: 100%;
    min-height: 500px;
}

/*---- contact details ends here ----*/

/*---- contact two column starts from here -----*/

section.contact-two-column {
    background: var(--section-bg-color);
    padding: 80px 0px;
}

.contact-two-column .flex-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contact-two-column .left-cols {
    flex-basis: 55%;
    margin-right: 5%;
}

.contact-two-column .right-cols {
    flex-basis: 40%;
}

.contact-two-column .right-cols img {
    border-radius: 12px;
    min-height: 300px;
    background: var(--white-color);
}

.contact-two-column .left-cols h5 {
    margin-bottom: 10px;
    color: var(--light-green);
}

.contact-two-column .left-cols p {
    margin-bottom: 38px;
}

.contact-two-column .content-boxes {
    max-width: 530px;

}

/*---- contact two column ends here -----*/

/*----- isotope starts from here -----*/

.isotope-section .container {
    position: relative;
}

section.isotope-section {
    padding: 80px 0px;
    background: var(--section-bg-color);
}

section.isotope-section .filter-link-main-grid {
    background-color: #050709;
    border-radius: 60px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    max-width: 870px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 50px;
}

.filter-links {
    width: 20%;
    border: none;
    color: var(--tj-white);
    text-transform: capitalize;
    font-size: 15px;
    padding: 8px 22px;
    border-radius: 50px;
    z-index: 10;
    position: relative;
    cursor: pointer;
}

.filter-links.center-align.active {
    background: linear-gradient(260deg, #a04459 0%, #e72a54 100%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.grid-image-main {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.grid-image-main .grid-images {
    width: 33.333%;
    cursor: pointer;
    padding: 0 15px;
    position: relative;
    min-height: 240px;
    max-height: 240px;
    margin-bottom: 35px;
}


.grid-image-main .grid-images img {
    width: 100%;
    height: 100%;
    min-height: 240px;
    max-height: 240px;
    border-radius: 15px;
}

.grid-image-main .grid-images .content-box {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: calc(100% - 40px);
    border-radius: 15px;
    margin: 0 auto;
    right: 0;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
    background: #e72a54;
    background: linear-gradient(260deg, #a04459 0%, #e72a54 100%);
    background: linear-gradient(260deg, #a04459 0%, #e72a54 100%);
}

.grid-image-main .grid-images .content-box h3 {
    font-size: var(--extra-medium-font);
    line-height: 1;
}

.isotope-section .mob-tabs {
    display: none;
}

.grid-image-main .grid-images i {
    font-size: 30px;
    line-height: 1;
    position: absolute;
    top: 18%;
    right: 25px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color: var(--primary-color);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.grid-image-main .grid-images:hover .content-box {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.isotope-section .title-heading h5 {
    color: var(--light-green);
}

/*----- isotope ends here ----*/

/*---- footer section starts from here ----*/


.footer-section {
    background: var(--primary-color);
}

.footer-section .main-footer {
    padding: 30px 0px;
    border-bottom: 2px solid var(--secondary-color);
}

.footer-section .footer-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.footer-section .footer-flex .column.one {
    flex-basis: 35.333%;
    margin-right: 11%;
}

.footer-section .footer-flex .column.two {
    flex-basis: 20.33%;
    margin-right: 7%;
}

.footer-section .footer-flex .column.three {
    flex-basis: 26.33%;
}


.footer-section .footer-flex .logo {
    margin-bottom: 25px;
}

.footer-section .footer-flex .column.one img {
    width: 200px;
}

.footer-section .footer-flex .column.one .content {
    max-width: 350px;
    margin-bottom: 60px;
}

.footer-section .social-media ul {
    display: flex;
    list-style: none;
    max-width: 235px;
}

.footer-section .social-media ul li {
    margin-right: 26px;
}

.footer-section .social-media ul li i {
    font-size: 33px;
    color: var(--secondary-color);
}

.footer-section .footer-flex .column.two ul {
    margin-top: 20px;
    max-width: 100px;
    text-align: center;
}

.footer-section .footer-flex .column.two ul li.footer-menu {
    padding: 10px 0px;
    text-align: left;
}

.address-box,
.phone-box,
.mail-box,
.contact-box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 18px;
}

.address-box .icon-box,
.phone-box .icon-box,
.mail-box .icon-box,
.contact-box .icon-box {
    flex-basis: 20px;
    margin-right: 10px;
}

.address-box .detail-box,
.phone-box .detail-box,
.mail-box .detail-box,
.contact-box .detail-box {
    flex-basis: 89%;
}

.address-box {
    margin-top: 30px;
}

.address-box .icon-box i,
.phone-box .icon-box i,
.mail-box .icon-box i,
.contact-box .icon-box i {
    color: var(--secondary-color);
}

.copy-right-footer a#back-top {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: var(--secondary-color);
    border-radius: 40px;
    position: fixed;
    right: 37px;
    bottom: 8px;
    -webkit-box-shadow: -2px 1px 14px 0px var(--secondary-color);
    -moz-box-shadow: -2px 1px 14px 0px var(--secondary-color);
    box-shadow: -2px 1px 14px 0px var(--secondary-color);
    opacity: 0;
    cursor: pointer;
    z-index: 9;
}

.copy-right-footer {
    padding: 15px 0px;
}

.copy-right-footer #back-top.show {
    opacity: 1;
    visibility: visible;
}

.copy-right-footer a#back-top i {
    position: absolute;
    top: 12px;
    left: 30%;
    font-size: 18px;
}

div#copyright {
    text-align: center;
}


/*----- footer section ends here -----*/