

:root {
    --primary-color: #ce1446;
    --secondary-color: #19232b;
    --tertiary-color: #E01010;
    --quaternary-color: #20ce65;
    --yellow-color: #ffc514;
    --light-green: #c9f31d;
    --white-color: #ffffff;
    --dark-color: #000000;
    --section-bg-color: #0f161c;
    --blog-bg-color: #2e3849;
    --gradient-one: linear-gradient(180deg, #f02653 0%, #e21218 100%);
    --extra-font: 64px;
    --large-font: 38px;
    --ultra-medium-font: 30px;
    --extra-medium-font: 22px;
    --medium-font: 20px;
    --ultra-small-font: 18px;
    --extra-small-font: 16px;
    --small-font: 14px;
    --primary-font: "Roboto Condensed", sans-serif;
}

.light-theme{
    --primary-color: #da565c;
    --secondary-color: #cedee2;
    --tertiary-color: #262f3d;
    --quaternary-color: #43558c;
    --yellow-color: #8c2a0a;
    --light-green: #334e77;
    --white-color: #000;
    --dark-color: #325394;
    --section-bg-color: #e6eef1;
    --blog-bg-color: #69868e;
}


* {
    box-sizing: border-box;
}

.content-wrapper{
   max-width: 1300px;
   margin: 0 auto;
   padding: 0px 15px;
}

h1 {
    color: var(--primary-color);
    font-size: var(--extra-font);
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
    font-family: var(--primary-font);
}

h2 {
    color: var(--primary-color);
    font-size: var(--large-font);
    margin: 0;
    font-weight: 700;
    line-height: 1.2;
    font-family: var(--primary-font);
}

h3 {
    color: var(--primary-color);
    font-size: var(--ultra-medium-font);
    margin: 0;
    font-weight: 700;
    line-height: 1.2;
    font-family: var(--primary-font);
}

h4 {
    color: var(--primary-color);
    font-size: var(--extra-medium-font);
    margin: 0;
    font-weight: 400;
    line-height: 1.2;
    font-family: var(--primary-font);
}

h5 {
    color: var(--light-green);
    font-size: var(--medium-font);
    margin: 0;
    font-weight: 600;
    line-height: 1.2;
    font-family: var(--primary-font);
}

h6 {
    color:var(--primary-color) ;
    font-size: var(--ultra-small-font);
    margin: 0;
    font-weight: 400;
    line-height: 1.2;
    font-family: var(--primary-font);
}

p {
    color: var(--white-color);
    font-size: var(--extra-small-font);
    margin: 0;
    font-weight: 400;
    line-height: 27px;
    font-family: var(--primary-font);
}

a {
    color: var(--white-color);
    text-decoration: none;
    font-size: var(--extra-small-font);
    line-height: 1.2;
    font-weight: 400;
    font-family: var(--primary-font);
}

span{
    color: var(--primary-color);
    font-size: var(--extra-small-font);
    line-height: 1.2;
    font-weight: 400;
    font-family: var(--primary-font);
}

ul{
   padding: 0;
   margin: 0;  
   list-style: none;
}

li{
   padding: 0;
   margin: 0;  
   font-size: var(--extra-small-font);
   line-height: 1.2;
   font-family: var(--primary-font);
}

.fw-9,
.fw-9 a,
.fw-9 h1,
.fw-9 h2,
.fw-9 h3,
.fw-9 h4,
.fw-9 h5,
.fw-9 h6,
.fw-9 li,
.fw-9 p {
    font-weight: 900;
}

.fw-8,
.fw-8 a,
.fw-8 h1,
.fw-8 h2,
.fw-8 h3,
.fw-8 h4,
.fw-8 h5,
.fw-8 h6,
.fw-8 li,
.fw-8 p {
    font-weight: 800;
}

.fw-7 a,
.fw-7,
.fw-7 h1,
.fw-7 h2,
.fw-7 h3,
.fw-7 h4,
.fw-7 h5,
.fw-7 h6,
.fw-7 li,
.fw-7 p {
    font-weight: 700;
}

.fw-6,
.fw-6 a,
.fw-6 h1,
.fw-6 h2,
.fw-6 h3,
.fw-6 h4,
.fw-6 h5,
.fw-6 h6,
.fw-6 li,
.fw-6 p {
    font-weight: 600;
}

.fw-5,
.fw-5 a,
.fw-5 h1,
.fw-5 h2,
.fw-5 h3,
.fw-5 h4,
.fw-5 h5,
.fw-5 h6,
.fw-5 li,
.fw-5 p {
    font-weight: 500;
}

.fw-4,
.fw-4 a,
.fw-4 h1,
.fw-4 h2,
.fw-4 h3,
.fw-4 h4,
.fw-4 h5,
.fw-4 h6,
.fw-4 li,
.fw-4 p {
    font-weight: 400;
}

.fw-3,
.fw-3 a,
.fw-3 h1,
.fw-3 h2,
.fw-3 h3,
.fw-3 h4,
.fw-3 h5,
.fw-3 h6,
.fw-3 li,
.fw-3 p {
    font-weight: 300;
}

.all-text-white,
.all-text-white a,
.all-text-white h1,
.all-text-white h2,
.all-text-white h3,
.all-text-white h4,
.all-text-white h5,
.all-text-white h6,
.all-text-white p,
.all-text-white span,
.all-text-white li {
    color: var(--white-color);
}

.all-text-black,
.all-text-black a,
.all-text-black h1,
.all-text-black h2,
.all-text-black h3,
.all-text-black h4,
.all-text-black h5,
.all-text-black h6,
.all-text-black p,
.all-text-black span,
.all-text-black li {
    color: var(--dark-color);
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

table {
    border-collapse: collapse;
    margin-bottom: 1.4rem;
    overflow-wrap: break-word;
}

td,th {
    vertical-align: top;
}

thead th {
    vertical-align: bottom;
}

.section-bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading-divider {
    background-color: var(--primary-color);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display: inline-block;
    height: 3px;
    overflow: hidden;
    position: relative;
    width: 90px;
}

.heading-divider:after {
    -webkit-animation: heading-move 5s linear infinite;
    animation: heading-move 5s linear infinite;
    background-color: #fff;
    content: "";
    height: 7px;
    left: 0;
    position: absolute;
    top: -1.1px;
    width: 8px;
}

img{
    max-width: 100%
    ;
}

@-webkit-keyframes heading-move {
    0% {
        transform: translateX(-1px)
    }

    50% {
        transform: translateX(85px)
    }

    to {
        transform: translateX(-1px)
    }
}

@keyframes heading-move {
    0% {
        transform: translateX(-1px)
    }

    50% {
        transform: translateX(85px)
    }

    to {
        transform: translateX(-1px)
    }
}

.primary-cta{
    padding: 13px 15px;
    display: inline-block;
    line-height: 1.5;
    border-radius: 3px;
    font-size: var(--extra-small-font);
    cursor: pointer;
    text-align: center;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    -webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    -webkit-box-shadow: 0px 0px 17px 3px rgba(206,20,70,1);
    -moz-box-shadow: 0px 0px 17px 3px rgba(206,20,70,1);
    box-shadow: 0px 0px 17px 3px rgba(206,20,70,1);
}

.primary-cta a{
  color: var(--white-color);
  font-weight: 600;
}
.primary-cta:hover{
  background: transparent;
}

.primary-cta:hover a{
  color: var(--tertiary-color);
}

.secondary-cta{
    padding: 13px 15px;
    display: inline-block;
    text-align: center;
    line-height: 1.5;
    border-radius: 3px;
    font-size: var(--extra-small-font);
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    -webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    -webkit-box-shadow: 0px 0px 17px 3px rgba(206,20,70,1);
    -moz-box-shadow: 0px 0px 17px 3px rgba(206,20,70,1);
    box-shadow: 0px 0px 17px 3px rgba(206,20,70,1);
}

.secondary-cta a{
  color: var(--primary-color);
  font-weight: 600;
}

.secondary-cta:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.secondary-cta:hover a{
  color: var(--white-color);
}

.tertiary-cta{
    padding: 13px 15px;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    border-radius: 3px;
    font-size: var(--extra-small-font);
    cursor: pointer;
    background-color: var(--light-green);
    border: 2px solid var(--light-green);
    -webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    -webkit-box-shadow: 0px 0px 10px 2px rgb(201 243 29);
    -moz-box-shadow: 0px 0px 10px 2px rgb(201 243 29);
    box-shadow: 0px 0px 10px 2px rgb(201 243 29)''
}
.tertiary-cta a{
  color: var(--primary-color);
  font-weight: 600;
}

.tertiary-cta:hover{
    background-color: transparent;
}

.tertiary-cta:hover a{
  color: var(--light-green);
}

.title-heading {
    max-width: 350px;
    margin: 0 auto;
}


@media (max-width: 768px){
    h1{
        font-size: var(--large-font);
    }

    h2 {
        font-size: var(--ultra-medium-font);
    }

    h3 {
        font-size: var(--extra-medium-font);
    }

    h4 {
        font-size: var(--medium-font);
    }

    h5 {
        font-size: var(--ultra-small-font);
    }

    p {
        font-size: var(--small-font);
    }
   
}